page-intro {
  
  .intro1 {
    background-position: top;
    background-image: url("../assets/imgs/1.png") ;
    background-repeat: no-repeat;
    background-size: 90%;
  }
  .intro2 {
      background-position: top;
      background-image: url("../assets/imgs/2.png") ;
      background-repeat: no-repeat;
      background-size: 90%;
  }
  .intro3 {
    background-image: url("../assets/imgs/3.png") ;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 90%;
  }
  .intro4 {
    background-position: top;
    background-image: url("../assets/imgs/4.png") ;
    background-repeat: no-repeat;
    background-size: 90%;
  }

  h2{
      margin-top: 70%;
      text-align: center;
  }

  

}
